# Caius Durling Mon Jul 9 18:01:17 BST 2007
RewriteEngine On
RewriteBase /
# RewriteRule
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([\w/]+)$ index.php?p=$1 [NC]

RewriteRule 